.cell
{
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;
    margin: 0;

    background-color: #FF5733;

    width: 10em;
    height: 10em;
}

.menu-item
{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FF5733;

    padding: 2em;
}