.modal
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: solid 1px black;

    background-color: gray;

    width: 30em;
    height: 40em;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.restart-button
{
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: black;

    color: white;

    border: solid 1px white;
    border-radius: 20px;

    cursor: pointer;

    padding: 2em;
}